<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/js/adminPage.js" defer></script>
    <script src="/js/includeHTML.js"></script>
    <title>Document</title>
</head>
<body style="margin: 0;">
    <div include-html="/header">
		<script>includeHTML();</script>
	</div>

    <div class="registerMatch" style="margin-left: 15%; float: left; margin-top: 10%;">
        <h2>경기 등록하기</h2>
            <div class="register-form">
            <label>년도</label><input id="year" name="year" type="text" />
            </div>

            <div class="register-form">
            <label>월</label><input id="month" name="month" type="text" />
            </div>

            <div class="register-form">
            <label>일</label><input id="day" name="day" type="text" />
            </div>

            <div class="register-form">
            <label>장소</label><input id="place" name="place" type="text" />
            </div>

            <div class="register-form">
            <label>상대팀</label><input id="vs" name="vs" type="text" />
            </div>
            <p id="registerMatchBtn">등록하기</p>
    </div>

    <div class="resultMatch" style="margin-left: 100px; float: left;margin-top: 10%;">
        <h2>경기 결과 등록하기</h2>
            <div class="result-form">
            <label>년</label><input id="ryear" name="ryear" type="text" />
            </div>
            <div class="result-form">
            <label>월</label><input id="rmonth" name="rmonth" type="text" />
            </div>
            <div class="result-form">
            <label>일</label><input id="rday" name="rday" type="text" />
            </div>

            <div class="result-form">
            <label>득점</label><input id="score" name="score" type="text" />
            </div>

            <div class="result-form">
            <label>실점</label><input id="loss" name="loss" type="text" />
            </div>

            <div class="result-form">
            <label>결과</label><input id="result" name="result" type="text" />
            </div>

            <div class="result-form">
            <label>결과</label><input id="rmvp" name="rmvp" type="text" />
            </div>
            <p id="resultMatchBtn">등록하기</p>
    </div>

    <div class="record-user" style="margin-left: 100px; float: left;margin-top: 10%; ">
        <h2>회원 기록 등록하기</h2>
        <div class="record-form">
        <label>회원이름</label><input id="username" name="username" type="text" />
        </div>

        <div class="record-form">
        <label>득점</label><input id="goal" name="place" type="text" />
        </div>

        <div class="record-form">
        <label>도움</label><input id="assist" name="assist" type="text" />
        </div>

        <div class="record-form">
        <label>mvp</label><input id="mvp" name="mvp" type="text" />
        </div>

        <div class="record-form">
        <label>세이브</label><input id="save" name="save" type="text" />
        </div>

        <div class="record-form">
        <label>참여</label><input id="partici" name="partici" type="text" />
        </div>
        <p id="recorduserBtn">등록하기</p>
    </div>

    <div include-html="/footer" style="margin-top: 50%;">
        <script>includeHTML();</script>
    </div>
</body>
</html>