<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/js/boardDetail.js" defer></script>
    <script src="/js/includeHTML.js"></script>
    <title>Document</title>
</head>
<body style="margin: 0;">

    <div include-html="/header">
		<script>includeHTML();</script>
	</div>


    <h1></h1>
 
    <table border="3" style="width: 80%; height: 500px; margin-left: 10%;">
        <tr>
            <td id="name"></td>
        </tr>
        <tr>
            <td id="title">제목</td>
        </tr>
        <tr>
            <td id="contents"></td>
        </tr>
        <tr>
            <td>
                <img id="img" style="width: 10%;">
            </td>
        </tr>
        <tr>
            <td id="time">등록일</td>
        </tr>
        <tr>
            <td>
                <button id="updateBtn">글 수정</button></br></br>
                <a href="/board">목록</a>
            </td>
        </tr>
    </table>
 
    <div include-html="/footer">
		<script>includeHTML();</script>
	</div>
</body>
</html>