<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/js/boardDetail.js" defer></script>
    <title>Document</title>
</head>
<body>
    <h1></h1>
 
    <table border="3" style="width: 70%; height: 500px;">
        <tr>
            <td id="name">작성자</td>
        </tr>
        <tr>
            <td id="title">제목</td>
        </tr>
        <tr>
            <td id="contents">내용</td>
            <img id="img" style="width: 100px;">
        </tr>
        <tr>
            <td id="time">등록일</td>
        </tr>
        <tr>
            <td colspan="2">
                <p id="updateBtn">글 수정</p>
                <a href="/board">목록</a>
            </td>
        </tr>
    </table>
 
</body>
</html>