<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <title>Document</title>
</head>
<body>
      <footer>
            <div class="contents">
                <div id="logo">
                    <img src="/img/noimg.png">
                </div>
                <div class="contact">
                    <h6>CONTACT</h6>
                    <p>khb0920</p>
                    <p>PHONE: 01093784497</p>
                    <p>EMAIL: smr1995@naver.com</p>
                    <p>REPOSITORY: <a href="https://github.com/khb0920">https://github.com/khb0920</a></p>
                    <p>blog: <a href="https://blog.naver.com/smr1995">https://blog.naver.com/smr1995</a></p>
                </div>
                <div id="uniform1">
                    <img src="/img/noimg.png">
                </div>
                <div id="uniform2">
                    <img src="/img/noimg.png">
                </div>
            </div>
     </footer>
</body>
</html>