<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/header.css">  
    <title>Document</title>
</head>
<body>
    <header>
        <h1>FC SHEEPING</h1>
    </br>
        <nav>
            <a href="/">홈</a>
            <a href="/matching">경기일정</a>    
            <a href="/recordPage">기록실</a>
            <a href="/board" >자유게시판</a>
		    <a href="/adminPage">관리자페이지</a>
        </nav>
      </header>
    </body>
</body>
</html>