<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<script src="/js/index.js" defer></script>
	<script src="/js/includeHTML.js"></script>
	<title>Document</title>
</head>
<body>
	<div include-html="/header">
		<script>includeHTML();</script>
	</div>
	
	<div class="login-page">
		<a href="/register" id="register" style="display: none;">회원가입</a>
		<a href="/login" id="login" style="display: none;">로그인</a>
		<button type="button" id="logoutBtn" style="display: none;">로그아웃</button>
		<a href="/mypage" id="mypage"style="display: none;">마이페이지</a>
	</div>
	
	<div class="newUser">
		<h3>새로운 회원</h3>
		<marquee direction=up>
			<table class="newuser-table">
				<tr>
					<td id="id1"></td>
					<td id="age1"></td>
					<td id="pos1"></td>
				</tr>
				<tr>
					<td id="id2"></td>
					<td id="age2"></td>
					<td id="pos2"></td>
				</tr>
				<tr>
					<td id="id3"></td>
					<td id="age3"></td>
					<td id="pos3"></td>
				</tr>
			</table>
		</marquee>
	</div>

	<div>
		<img id ="top_img" src="/img/header_soccer.jpg"/>
	</div>

	<div class="index_rank">
		<h2>HOT RANK🔥</h2>
	</div>
	<div class="record">
		<div class="goal">
			<h3>득점왕</h3>
			<img id="gimg1"/>
			<text id="g1st"></text>
		</div>
		<div class ="assist">
			<h3>도움왕</h3>
			<img id="asimg1"></br>
			<text id="as1st"></text>
		</div>	
		<div class="mvp">
			<h3>최다 mvp</h3>
			<img id="mimg1"></br>
			<text id="m1st"></text>
		</div>
		<div class="save" >
			<h3>중요 세이브</h3>
			<img id="simg1"></br>
			<text id="s1st"></text>
		</div>
	</div>


	<div class="index_Next">
		<h2>NEXT MATCH⚽</h2>
	</div>
		<div class="weekMatch">
			<div id="match1"></div>
			</br>
			<div id="dday"></div>
		</div>

	<div class="index_last">
		<h2>LAST MATCH⚽</h2>
	</div>
		<div class="lastMatch">
			<img id ="matchMvp">
			<text id="MvpName"></text>
			<div id="match2"></div>
		</div>

	<div include-html="/footer">
		<script>includeHTML();</script>
	</div>
</body>
</html>