<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<script src="/js/index.js" defer></script>
	<title>Document</title>
</head>
<body>
	<div class="header-page">
		<header>
			<h2>FC</h2>
			<nav>
				<ul>
					<li><a href="/matching">경기일정</a></li>
					<li><a href="/recordPage" id="recordPage">기록실</a></li>
					<li><a href="#" >랭킹</a></li>
					<li><a href="#" >자유게시판</a></li>	
				</ul>
			</nav>
		</header>
	</div>
</br>
<hr/>
	<div class="login-page" style="margin-top: 50px;  ">
		<button id="logoutBtn" style="float: right; margin-right: 30px;">로그아웃</button>
		<a href="/register" id="register" style="float: right; margin-right: 30px;">회원가입</a>
		<a href="/login" id="login" style="float: right; margin-right: 30px;">로그인</a>
		<a href="/mypage" id="mypage"style="float: right; margin-right: 30px;">마이페이지</a>
	</div>
		
</br>
</br>
</br>
<div style="float: right;  margin-left: 100px; margin-right: 300px; margin-bottom: 100px;">
	<h3>새로운 회원</h3>
	<table class="newuser-table">
		<tr>
			<td id="id1"></td>
			<td id="age1"></td>
			<td id="pos1"></td>
		</tr>
		<tr>
			<td id="id2"></td>
			<td id="age2"></td>
			<td id="pos2"></td>
		</tr>
		<tr>
			<td id="id3"></td>
			<td id="age3"></td>
			<td id="pos3"></td>
		</tr>

	</table>
</div>
	<div class="record" style="float: center; margin-bottom: 200px ;">
	<div style="width:200px; height:150px;  float:left; margin-right:20px;">
		<h3>이달의 득점왕</h3>
		<img id="gimg1" style="width:200px; height:150px;"></br>
		<text id="g1st"></text>
	</div>
	<div style="width:200px; height:150px;  float:left;margin-right:20px;">
		<h3>이달의 도움왕</h3>
		<img id="asimg1" style="width:200px; height:150px;"></br>
		<text id="as1st"></text>
	</div>	
	<div style="width:200px; height:150px; float:left; margin-right:20px;">
		<h3>이달의 최다 mvp 수상</h3>
		<img id="mimg1" style=" width:200px; height:150px;"></br>
		<text id="m1st"></text>
	</div>
	<div style="width:200px; height:150px; float:left;">
		<h3>이달의 중요 세이브</h3>
		<img id="simg1" style=" width:200px; height:150px;"></br>
		<text id="s1st"></text>
	</div>
</div>
</br>
</br>
</br>
<hr/>
	<div class="weekMatch" style="float: center; margin-top: 50px;">
		<h3>이번주 경기</h3>
		<text id="match1"></text>
	</div>
</br>
<hr/>
	<div class="lastMatch" style="float: center; margin-top: 50px; margin-bottom: 50px;">
		<h3>최근 경기 결과</h3>
		<text id="match2"></text>
	</div>
</body>
</html>