<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/js/matching.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div>
    <div>
        <select id="month">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
        <label>월</label>
    </div>
    <button id="search" style="float: left;">검색</button>
    <button id="reset" style="float: left;">삭제</button>
</div>
    <div>
        <table id="sdata"  width = "80%" border="5" style='margin-top: 10%; text-align: center; visibility: hidden;'>
            <tr>
                <td>년도</td>
                <td>월</td>
                <td>일</td>
                <td>구장</td>
                <td>상대팀</td>
                <td>득점</td>
                <td>실점</td>
                <td>결과</td>
            </tr>
        </table>      
    </div>
    <div><table id="mdata" width = "80%" border="5" style='margin-top: 10%; text-align: center'>
        <tr>
            <td>년도</td>
            <td>월</td>
            <td>일</td>
            <td>구장</td>
            <td>상대팀</td>
            <td>득점</td>
            <td>실점</td>
            <td>결과</td>
        </tr>
    </table>
</div>
</body>
</html>