<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script src="/js/mypage.js" defer></script>
	<script src="/js/includeHTML.js"></script>
	<title>Document</title>
</head>
<body style="margin: 0;">
	<div include-html="/header">
		<script>includeHTML();</script>
	</div>

	<div style="margin-left: 5%;"><H1 id="myname"></H1></div></br>

	<div style="margin-left: 5%;">
		<div style="width:12.5rem;"><img id ="myImg" style="width:12.5rem;"></div>
		<div><button id ="changeImg">사진 변경하기</button></div>
		<div id="update-page" style="visibility: hidden; margin-bottom: 4.375rem; margin-top: 1.25rem;">
            <input id="img" name="img" type="file" accept="image/*" style="float: left;"/>
			<button id="update" style="float: left;">확인</button>
        </div>
	</div>

	<hr/>

	<fieldset>
		<legend>내 기록</legend>
		<div id ="myGoal" style="border: 1px;  float: left; width: 20%;"></div>
		<div id ="myAs" style="border: 1px;  float: left; width: 20%;"></div>
		<div id ="myMvp" style="border: 1px;  float: left; width: 20%;"></div>
		<div id ="mySave" style="border: 1px;  float: left; width: 20%;"></div>
		<div id ="myPartici" style="border: 1px;  float: left; width: 20%;"></div>
	</fieldset>

	<div include-html="/footer">
		<script>includeHTML();</script>
	</div>
</body>
</html>