<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/js/recordPage.js" defer></script>
    <script src="/js/includeHTML.js"></script>
    <title>Document</title>
</head>
<body style="margin: 0;">
    <div include-html="/header">
		<script>includeHTML();</script>
	</div>  

    <div>
        <h2 style="margin-left: 5%;">전체 기록🎖</h2>
        <table id="rdata" width = "90%" border="5" style='margin-top: 5%; margin-left: 5%; text-align: center' >
        <tr>
            <td>이름</td>
            <td>득점<button id="gBtn" style="height: 1.25rem;">▼</button></td>
            <td>도움<button id="aBtn" style="height: 1.25rem;">▼</button></td>
            <td>MVP<button id="mBtn" style="height: 1.25rem;">▼</button></td>
            <td>선방<button id="sBtn" style="height: 1.25rem;">▼</button></td>
            <td>참여<button id="pBtn" style="height: 1.25rem;">▼</button></td>
        </tr>
        </table>
    </div>

<div include-html="/footer">
    <script>includeHTML();</script>
</div>
</body>
</html>