<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/js/updateContents.js" defer></script>
    <script src="/js/includeHTML.js"></script>
    <title>Document</title>
</head>
<body style="margin: 0;">
  <div include-html="/header">
		<script>includeHTML();</script>
	</div>


      <div id="update_page" style="margin-left: 20%;">
          <h4>글을 수정하는 공간입니다🖊</h4>
              <div id="update_area">
                  <form id="update_form" enctype="multipart/form-data">
                      <div class="update_page">
                        <textarea name="title" id="title" rows="1" cols="55" placeholder="제목" maxlength="100"></textarea>
                      </div>
                      <div class="update_page">
                        <textarea name="contents" id="contents" placeholder="내용"></textarea>
                      </div>
                      <div class="update_page">
                        <input id="img" type="file" name="img" accept="image/*" />
                      </div>
                      <div class="update_page" style="margin-top: 1.875rem;">
                        <button id="updateBtn" style="font-weight: bold;">글 수정</button>
                      </div>
                  </form>
              </div>
          </div>

          <div include-html="/footer">
            <script>includeHTML();</script>
          </div>
      </body>
</html>