footer
{
  margin-top: 12.5rem;
  background-color:#26272b;
  height: 18.75rem;
  width: 100%;
  bottom: 0;
  font-size: 0.938rem;
  line-height: 1.5rem;
  color:#737373;
}

footer > .contents
{
  
  margin-left: 6.25rem;
  text-align: left;
  color:#fff;
  font-size: 0.625rem;
  letter-spacing:2px
}

footer > .contents > #logo{
  margin-top: 3.125rem;
  margin-left: 9.375rem;
  float: left;
  width: 9.375rem;
}

footer > .contents > .contact{
  margin-top: 3.125rem;
  margin-left: 9.375rem;
  float: left;
  text-align: left;
  color:#fff;
  font-size:0.625rem;
  letter-spacing:2px
}

footer > .contents > #uniform1{
  margin-left: 9.375rem;
  margin-top: 3.125rem;
  float: left;
  width: 9.375rem;
}

footer > .contents > #uniform2{
  margin-left: 6.25rem;
  margin-top: 3.125rem;
  float: left;
  width: 9.375rem;
}



